<app-section id="how-to-use">
  <div class="container">
    <app-heading
    title="Generative AI made for creators."
    text="Brainwave unlocks the potential of AI-powered applications"
    ></app-heading>

    <div class="relative">
      <div class="relative z-1 flex items-center h-[39rem] mb-5 p-8 border border-n-1/10 rounded-3xl overflow-hidden lg:p-20 xl:h-[46rem]">
        <div class="absolute top-0 left-0 w-full h-full pointer-events-none md:w-3/5 xl:w-auto">
          <img
          width="800"
          alt="Smartest AI"
          height="730"
          [ngSrc]="service1"
          />
        </div>

        <div class="relative z-1 max-w-[17rem] ml-auto">
          <h4 class="h4 mb-4">Smartest AI</h4>
          <p class="body-2 mb-[3rem] text-n-3">
          Brainwave unlocks the potential of AI-powered applications
          </p>
          <ul class="body-2">
            <li
              *ngFor="let item of brainwaveServices; let i = index;"
              class="flex items-start py-4 border-t border-n-6"
            >
              <img width="24" height="24" [ngSrc]="check" alt="services"/>
              <p class="ml-4">{{ item }}</p>
            </li>
          </ul>
        </div>

        <app-generating class="absolute left-4 right-4 bottom-4 border-n-1/10 border lg:left-1/2 lg-right-auto lg:bottom-8 lg:-translate-x-1/2" ></app-generating>
      </div>

      <div class="relative z-1 grid gap-5 lg:grid-cols-2">
        <div class="relative min-h-[39rem] border border-n-1/10 rounded-3xl overflow-hidden">
          <div class="absolute inset-0">
            <img
            [ngSrc]="service2"
            class="h-full w-full object-cover"
            width="630"
            height="750"
            alt="robot"
            />
          </div>

          <div class="absolute inset-0 flex flex-col justify-end p-8 bg-gradient-to-b from-n-8/0 to-n-8/90 lg:p-15">
            <h4 class="h4 mb-4">Photo editing</h4>
            <p class="body-2 mb-[3rem] text-n-3">
              Automatically enhance your photos using our AI app&apos;s
              photo editing feature. Try it now!
            </p>
          </div>

          <app-photo-chat-message ></app-photo-chat-message>
        </div>

        <div class="p-4 bg-n-7 rounded-3xl overflow-hidden lg:min-h-[46rem]">
          <div class="py-12 px-4 xl:px-8">
          <h4 class="h4 mb-4">Video generation</h4>
          <p class="body-2 mb-[2rem] text-n-3">
          The world’s most powerful AI photo and video art generation
          engine. What will you create?
          </p>

          <ul class="flex items-center justify-between">
            <li
              *ngFor="let item of brainwaveServicesIcons; let i = index;"
              class="rounded-2xl flex items-center justify-center"
              [ngClass]="{
              'w-[3rem] h-[3rem] p-0.25 bg-conic-gradient md:w-[4.5rem] md:h-[4.5rem]': i===2,
              'flex w-10 h-10 bg-n-6 md:w-15 md:h-15': i!==2
              }"
            >
              <div
                [ngClass]="{
                'flex items-center justify-center w-full h-full bg-n-7 rounded-[1rem]': i===2,
                }"
              >
                <img [ngSrc]="item" width="24" height="24" [alt]="item" />
              </div>
            </li>
          </ul>
        </div>

        <div class="relative h-[20rem] bg-n-8 rounded-xl overflow-hidden md:h-[25rem]">
          <img
            [ngSrc]="service3"
            class="w-full h-full object-cover"
            width="520"
            height="400"
            alt="Scary robot"
          />

          <app-video-chat-message ></app-video-chat-message>
          <app-video-bar ></app-video-bar>
        </div>
      </div>
    </div>

      <app-services-gradient-image></app-services-gradient-image>
  </div>
</div>
</app-section>
